body {

  font-family: system-ui, sans-serif;
  margin: 0;
  text-align: center;
}

#start{
padding: 2%;
margin: 50px auto;
font-size:20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border: 5px solid grey;
border-radius: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
margin: auto;
}

.card {
  width: 18%;
  aspect-ratio: 1/1;
  border: 0px solid black;
  font-size: 64px;
  text-align: center;
  padding: 2% 6% 0% 8%;

}

img {
  max-width: 100%;

}

html{
background: url(https://i.pinimg.com/736x/79/b9/f8/79b9f817247b18b60103c7bfcfab911a.jpg);
height: 100%;
width: 100%;

}

.cardss {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
margin: auto;
}

.cardd {
  width: 18%;
  aspect-ratio: 1/1;
  border: 0px solid black;
  font-size: 64px;
  text-align: center;
  padding: 25% 7% 7% 7%;
}
#reset{
padding: 1%;
font-size:15px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border: 1px solid grey;
border-radius: 15px;
}
